.styleguide_module
  .styleguide_intro
    %h2 #{@section.section} #{@section.filename}
    .styleguide_description= @section.description

  %figure.modifier_block
    %figcaption
    = @example_html

  - @section.modifiers.each do |modifier|
    %figure.modifier_block
      %figcaption
        %i #{modifier.name} 
        #{modifier.description}
      = @example_html.gsub("modifier-class", modifier.class_name)
