.us-container
  %h1 Components

= styleblock "5.1" do
  .us-hero
    .us-hero-container
      %h1.us-hero-title Hero title
      %p.us-hero-description.us-standfirst Swat at dog intrigued by the shower missing until dinner time and run in circles use lap as chair. Swat at dog stretch and stand in front of the computer screen.

.us-container
  = styleblock "3.2" do
    %a.us-link.modifier-class{href: "http://balbas"} Test link

  = styleblock "3.3" do
    %ul.us-list
      %li
        %a.modifier-class{href: "http://balbas"} Test link
      %li
        %a.modifier-class{href: "http://balbas"} Test link
      %li
        %a.modifier-class{href: "http://balbas"} Test link

  = styleblock "5.2" do
    %aside.us-sidebar
      .us-sidebar-header
        %strong Your current supplier
      .us-sidebar-body
        %p Gas unit rates: 450kWh
      .us-sidebar-header
        %strong Your current electricity
      .us-sidebar-body
        %p Standard variable

  = styleblock "4.1", false do
    .us-news-item
      %a.us-news-item-link{href: "#"}
        .us-news-item-image-container
          .us-news-item-image.background{:style => "background-image: url(http://uswitch-wp-blog-assets.s3-website-eu-west-1.amazonaws.com/wp-content/uploads/2013/09/Untitled-1.jpg)"}
        .us-news-meta
          %span.category Consumer rights
          %span.date= Date.today.strftime("%d %b %Y")        
        %h3.us-news-item-title Customer uses promoted tweet to complain about BA
        %p.us-news-item-snippet Sign of things to come? Social media helps to empower disgruntled consumer amid lost luggage row
        .us-news-item-readmore
          %span.us-news-item-readmorelink More consumer rights

  = styleblock "4.2", false do
    .us-guide-item.modifier-class
      %a.us-guide-item-link{:href => "http://www.uswitch.com/car-insurance/guides/"}
        .us-guide-item-image-container
          .us-guide-item-image.background{:style => "background-image: url(#{image_path('guide-car.jpg')})"}
        %h4.us-guide-item-title Car insurance guides
        %p.us-guide-item-description Read our car insurance advice guides for the facts on why you need car insurance, the types of cover available, and tips on how to make a claim.
        .us-guide-item-readmore 
          %span.us-news-item-readmorelink Read more

  = styleblock "4.3", false do
    .us-more-item
      %a.us-more-item-link{:href => "test"}
        %span.us-more-item-title See more mobile news stories
