---
title: uSwitch uGuide
---

= styleblock "1.1" do
  %input.us-form-input.modifier-class

= styleblock "1.2" do
  %select.us-form-select.modifier-class
    %option A select menu
    %option With lots of options
    %option And a few more

= styleblock "1.3" do
  %input.us-form-input{:type=>'radio',:name=>'null',:checked => :checked}
  %input.us-form-input{:type=>'checkbox', :checked => :checked}

= styleblock "2.1" do
  %button.us-btn.modifier-class{type: :submit} Button
  %a.us-btn.modifier-class{href: "http://google.com"} Button

= styleblock "2.2" do
  %a.us-link.modifier-class{href: "http://balbas"} Test link

= styleblock "2.3" do
  .us-list
    %a.modifier-class{href: "http://balbas"} Test link