---
title: uSwitch uGuide
---

= styleblock "1.1" do
  .us-field.modifier-class
    %label{for: "name"} Name
    %input.us-form-input{name: "Name", placeholder: "Please enter a name"}

  .us-field.modifier-class
    %label{for: "gender"} Gender
    .us-form-select-wrap
      %select.us-form-select
        %option Male
        %option Female

= styleblock "1.2" do
  %input.us-form-input.modifier-class

= styleblock "1.3" do
  %span.us-form-select-wrap
    %select.us-form-select.modifier-class
      %option A select menu
      %option With lots of options
      %option And a few more

= styleblock "1.4" do
  .us-field
    %label Do you have a different billing address?
    .us-field-toggle.us-col-2
      %label
        %input.us-form-input{:type=>'radio',:name=>'null',:checked => :checked} Yes
      %label
        %input.us-form-input{:type=>'radio',:name=>'null'} No

  .us-field
    %label How would you like to be contacted?
    .us-field-toggle.us-col-2
      %label
        %input.us-form-input{:type=>'checkbox',:name=>'null',:checked => :checked} Mobile
      %label
        %input.us-form-input{:type=>'checkbox',:name=>'null'} Landline
      %label
        %input.us-form-input{:type=>'checkbox',:name=>'null'} Email

= styleblock "2.1" do
  %button.us-btn.modifier-class{type: :submit} Button
  %a.us-btn.modifier-class{href: "http://google.com"} Button

= styleblock "2.2" do
  %a.us-link.modifier-class{href: "http://balbas"} Test link

= styleblock "2.3" do
  %ul.us-list
    %li
      %a.modifier-class{href: "http://balbas"} Test link
    %li
      %a.modifier-class{href: "http://balbas"} Test link
    %li
      %a.modifier-class{href: "http://balbas"} Test link

= styleblock "3.1" do
  %aside.us-sidebar.us-col-3
    .us-sidebar-header
      %strong Your current supplier
    .us-sidebar-body
      %p Gas unit rates: 450kWh
    .us-sidebar-header
      %strong Your current electricity
    .us-sidebar-body
      %p Standard variable