.us-container
  %h1.styleguide-title Tables

= styleblock "6.1", "Basic table", {floated: false} do
  %table.us-table
    %thead
      %tr
        %th
          Company
        %th
          Product features
        %th
          Free trial period
        %th
          Monthly subscription
        %th

    %tbody
      - data.credit_agents.each do |id, agent|
        %tr
          %td= agent.company_name
          %td
            %ul
              - agent.features.each do |feature|
                %li= feature
          %td
            - if agent.trial_period
              = agent.trial_period
              days
            - else
              = "—"
          %td
            £#{agent.monthly_fee}
            - if agent.fee_desc
              = agent.fee_desc
          %td
            %a.us-btn.arrowed{href: agent.url, target: "_blank"} Proceed
-# -------
= styleblock "6.2", "Table with key cells", {floated: false} do
  %table.us-table
    %thead
      %tr
        %th
          Company
        %th
          Product features
        %th
          Free trial period
        %th
          Monthly subscription
        %th

    %tbody
      - data.credit_agents.each do |id, agent|
        %tr
          %td= agent.company_name
          %td
            %ul
              - agent.features.each do |feature|
                %li= feature
          %td.us-table-key
            - if agent.trial_period
              .us-table-key__value= agent.trial_period
              .us-table-key__unit days
              .us-table-key__desc free trial period
            - else
              = "—"
          %td.us-table-key
            .us-table-key__value £#{agent.monthly_fee}
            - if agent.fee_desc
              .us-table-key__desc= agent.fee_desc
          %td
            %a.us-btn.arrowed{href: agent.url, target: "_blank"} Proceed
-# -------
= styleblock "6.3", "Tables with sortable columns", {floated: false} do
  %table.us-table.js-sortable.table-complex-example
    %thead
      %tr
        %th
          Company
        %th
          Product features
        %th.us-table-head-key.us-table-head-trial-period.us-table-head--sorted
          %a.us-table-sort-button{data: {sort: "trial-period:desc, fee"}}
            Free trial period
        %th.us-table-head-key.us-table-head-fee
          %a.us-table-sort-button{data: {sort: "fee, trial-period:desc"}}
            Monthly subscription
        %th

    %tbody
      - data.credit_agents.each do |id, agent|
        %tr{data: {trial_period: agent.trial_period || 0, fee: agent.monthly_fee || 9999}}
          %td
            %strong= agent.company_name
          %td
            %ul
              - agent.features.each do |feature|
                %li= feature
          %td.us-table-key.us-table-cell-trial-period.us-table-cell--sorted
            - if agent.trial_period
              .us-table-key__value= agent.trial_period
              .us-table-key__unit days
              .us-table-key__desc
                free trial period
            - else
              = "—"
          %td.us-table-key.us-table-cell-fee
            .us-table-key__value £#{agent.monthly_fee}
            .us-table-key__desc
              - if agent.fee_desc
                = agent.fee_desc
              - else
                monthly fee

          %td
            %a.us-btn.arrowed{href: agent.url, target: "_blank"} Proceed
