%header#header
  %a.logo{href: "/"} uSwitch styleguide

  %nav#nav
    .nav-link= nav_link "Grid", "/grid.html"
    .nav-link= nav_link "Typography", "/typography.html"
    .nav-link= nav_link "Forms", "/forms.html"
    .nav-link= nav_link "Buttons", "/buttons.html"
    .nav-link= nav_link "Components", "/components.html"