.nav__wrapper
  %nav.nav__container
    = nav_link "Home", "/", class: "nav__link"
    = nav_link "Typography", "/typography.html", class: "nav__link"
    = nav_link "Forms", "/forms.html", class: "nav__link"
    = nav_link "Buttons", "/buttons.html", class: "nav__link"
    = nav_link "Components", "/components.html", class: "nav__link"
    = nav_link "Grid", "/grid.html", class: "nav__link"
    = nav_link "Tables", "/tables.html", class: "nav__link"
