.nav__wrapper
  %nav.nav__container
    = nav_link "Home", "/", class: "nav__link"

    .nav__set-container
      %ul.nav__set
        %li.nav__set-title Getting started
        %li= nav_link "Installation", "/installation.html", class: "nav__link"
        %li= nav_link "Variables", "/variables.html", class: "nav__link"
        %li= nav_link "Grid", "/grid.html", class: "nav__link"

      %ul.nav__set
        %li.nav__set-title Building blocks
        %li= nav_link "Typography", "/typography.html", class: "nav__link"
        %li= nav_link "Forms", "/forms.html", class: "nav__link"
        %li= nav_link "Buttons", "/buttons.html", class: "nav__link"
        %li= nav_link "Components", "/components.html", class: "nav__link"
        %li= nav_link "Tables", "/tables.html", class: "nav__link"

      %ul.nav__set
        %li.nav__set-title Javascript
        = nav_link "Tabs", "/tab.html", class: "nav__link"    