.styleguide-block.us-content-group.mobile-bordered{id: @title.downcase.gsub(" ", "-")}
  .us-container
    .us-grid-row
      .styleguide-column.styleguide-column--information.us-col-6  
        .styleguide-description{data: {section: @section.section}}= @markdown.render(@section.description)
        %h4 #{@section.filename}
                
        - if @section.modifiers.any?
          %ul
            - @section.modifiers.each do |modifier|
              %li 
                %strong #{modifier.name} 
                \- #{modifier.description}


      .styleguide-column.styleguide-column--elements.us-col-6
        .modifier-block
          = @example_html

          .code-block
            %pre.code-block__code
              %code{class: :xml}= h @example_html.gsub(" modifier-class", "")

        - @section.modifiers.each do |modifier|

          .modifier-block
            .modifier-block__description
              %code.modifier-block__class #{modifier.name}

            .modifier-block__html
              = @example_html.gsub("modifier-class", modifier.class_name)

            .code-block.code-block--modifier
              %pre.code-block__code
                %code{class: :xml}= h @example_html.gsub("modifier-class", modifier.class_name)    