.styleguide-block{id: @title.downcase.gsub(" ", "-")}
  .us-container
    .styleguide-description{data: {section: @section.section}}= @markdown.render(@section.description)
    %h4 #{@section.filename}
    - if @section.modifiers.any?
      %ul
        - @section.modifiers.each do |modifier|
          %li #{modifier.name} - #{modifier.description}
        
    .modifier-block
      .modifier-block__html= @example_html

      .code-block
        %pre.code-block__code{class: ("us-col-6" if @sass_output)}
          %code{class: :xml}= h @example_html.gsub("modifier-class", "")

        - if @sass_output
          %pre.code-block__code
            %code{class: :scss}= @sass_output

    - @section.modifiers.each do |modifier|
      .modifier-block
        .modifier-block__description
          %code.modifier-block__class #{modifier.name}

        .modifier-block__html
          = @example_html.gsub("modifier-class", modifier.class_name)