!!! 5
/[if lt IE 7 ] <html lang="en" class="no-js ie6">
/[if IE 7 ] <html lang="en" class="no-js ie7">
/[if IE 8 ] <html lang="en" class="no-js ie8">
/[if IE 9 ] <html lang="en" class="no-js ie9">
/ [if (gt IE 9)|!(IE)]><!
%html{:lang => "en"}
  / <![endif]
  %head
    %meta{charset: "utf-8"}
    %meta{content: "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %meta(name="HandheldFriendly" content="True")
    %meta(name="MobileOptimized" content="320")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title uGuide
    %link{href: "http://www.uswitch.com/webfont/fonts/v22/stylesheet.css", media: :all, rel: :stylesheet, type: "text/css"}
    :javascript
      window.uSwitch = {};

      if('querySelector' in document && 'localStorage' in window && 'addEventListener' in window){
        window.uSwitch.modernBrowser = true;
      }
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700' rel='stylesheet' type='text/css'>
    = stylesheet_link_tag "all"


  %body
    = partial "partials/nav"
    = partial "partials/header"
    .content__overlay
    .wrapper  
      #main{role: :main}
        = yield

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    %script{src: "//dnpc2x3bdjjqt.cloudfront.net/s3/uswitch-styleguide/v4.3.2/javascripts/modernizr.js"}
    = javascript_include_tag "all"